$redwood: #9D6158;
$camel: #CA9965;
$alice-blue: #E4E9F1;
$light-grey: #D1D9DB;
$eagle-green: #19444E;
$kobe: #78290f;
$amber: #ff7d00;
$blanched-almond: #ffecd1;
$ming: #15616d;
$rich-black: #001524;
$independence: #4B4A67;




$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
