<div id="target-area1"
    class="target-area <%= @room.floor %>"
    style="position:relative; width:<%= @room.width * @room_multiplier %>px;
    height:<%= @room.length * @room_multiplier %>px;">
</div>
