<div class="container new-page-identifier mt-0" id="new-song-container">
  <div class="row" >
    <h2 class="col-2 pb-2">Library</h2>
    <div id="library-container">
      <div id="library">
        <% pieces = Piece.all.to_a %>
        <% pieces.each_with_index do  |piece, index| %>
          <div id="piece<%= index %>" draggable="true" class="draggable rng" >
            <%= piece.name %>
          </div>
        <% end %>
      </div>

      <div id="target-area1" class='col-8 target-area' style='position:relative'>
      </div>
    </div>
    </div>
  </div>
</div>
