<div class="cards">
  <% @rooms.each do |room| %>
    <%= link_to room_path(room) do %>
    <div class="card ">
      <h5 class="card-title mt-3"><%= room.name %></h5>
    </div>
    <% end %>
  <% end %>
</div>

